.section-about{
    background-color:$color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -8rem;

    & > *{
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color:$color-grey-light-1;
    padding: 22rem 0;
    margin-top: -21vh;
}

.section-quotes{
    position: relative;
    padding: 7rem 0; // top-bottom left-right
    // background-color:$color-grey-light-1;   
}

.section-bubbles{
    padding: 5rem 0 10rem 0;
    background-image: linear-gradient(to right bottom, #efe9e4, #efede7);
}

.bubbles{
    // background-image: url(../img/nat-10.jpg);
    // background-size: 100%;
    border-radius: 4px;
    // height: 50rem;
}